*{
    box-sizing: border-box;
}

body{
    font-family: monospace;
    background-color: rgb(220, 232, 248);
    color: black;
    margin: 1rem;
}

header{
    display: grid;
    margin: auto;
}

footer{
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;}

.oddFooter{
    /* align-items: center; */
    color: rgb(18, 123, 2);
    font-weight: 600;
    grid-column: 2;
    grid-row-start: 2;
    margin: auto;
}

h1{
    font-size: 4rem;
    color: rgb(53, 73, 19);
    margin: auto;
    font-weight: 700;
    text-align: center;
    margin: 1rem;
}

.oddDuckLogo{
    width: 30%;
    margin: auto;
}

h2{
    font-size: 2rem;
    /* background-color: rgb(249, 201, 201); */
    margin: auto;
    font-weight: 500;
    padding: 1rem;

}

main{
    margin: 1rem;
    /* background-color: white; */
    /* display: grid; */
}

main + section{
    display: grid;
    grid-template-columns: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    
}



section{
    background-color: wheat;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-items: center;
    padding: 1rem;
    margin: 1rem;

}

section img{
    max-height: 26rem;
    width: 30%;
    border: 5px solid transparent;
}


section img:hover{
    border: 5px solid green;
    
}

section.no-voting img:hover{
    border: 5px solid transparent;
    /* cursor: not-allowed; */
    pointer-events: none;
}



section + div{
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 6px;
    width: 5rem;
}

section + div.clicks-allowed{
    position: fixed;
    width: 500px;
    height: 130px;
    padding: 10px;
    border: 3px solid #147d43;
    top: 50%;
    left: 50%;
    margin-top: -100px;  /* Negative half of height. */
    margin-left: -250px; 
    text-align: center;
    background-color: green;
    color: black;
    cursor: pointer;
    pointer-events: auto;
    font-size: 6rem;

}

section + div.clicks-allowed:hover{
    background-color: blueviolet;
}

ul{
    margin: 1rem;
    background-color: white;
    width: auto;
    height: auto;
}

ul li{
    font-size: 1rem;
    margin: 1rem;
}

.charts{
    background-color: lightblue;
    margin: 1rem;
}

.noProjects{
    background-color: red;
    filter: grayscale(1);
}

section + div.resultsShown{
    display: none;
    color: magenta;
}
